{% extends "layout.html" %}
{% block body %}
<h4>Recently Counted products by {{ username }}</h4>


<table class="table table-striped table-bordered table-condensed table-hover
table-responsive">
<tr>
<th>Time</th>
<th>Counted by</th>
<th>Product Code</th>
<th>Product Name & Price</th>
<th>Counted</th>
</tr>
{% for item in count_list %}
<tr>
<td> {{ item.created.strftime('%Y-%m-%d %H:%M:%S') }} </td>
<td> {{ item.counted_by.username }}</td>
<td> {{ item.product.code }}</td>
<td>
     {{ item.product.name|title  }}
 - (${{ item.product.price }})</td>
<td> {{ item.count }}</td>
</tr>
{% endfor %}
</table>

<h2> Select to view by individual enumerator </h2>
<a href="{{ url_for('user_recent_counts', username='all') }}">All</a>


{% for enumerator in enumerators %}
 | <a href="{{ url_for('user_recent_counts', username=enumerator.username) }}">{{ enumerator.username }}</a>

{% endfor %}



{% endblock %}