
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Museyamwa Store - Stocktaking App </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stocktaking_app.css') }}">
</head>
<body>
<div class="container-fluid text-left">
<div class="row content">
<div class="col-sm-12">
<h1><a href="{{ url_for('homepage') }}">Museyamwa Store - StockTake</a></h1>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
  {% endfor %}

  <div class="metanav">

  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('homepage') }}">Home </a>
  | <a href="{{ url_for('view_recent_count') }}">Your Recent Counts </a>
  | logged in as {{ session['username'] }}
   {% if session['is_admin'] == 'y' %}
   | <a href="{{ url_for('user_recent_counts', username='all') }}">View Recent Counts for Everyone </a>
   {% endif %}
     | <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>


</div>
</div>

<div class="row content">
<div class="col-sm-12">
  {% block body %}
  {% endblock %}
</div>
</div>

</div>
</body>
</html>